<div class="favor-info" data-favor-context="">
  <div class="favor-dailynorm" id="startTimerListItem">
    <div class="favor-dailynorm-icon">
      <svg width="20" height="20">
        <use href="./img/sprite.svg#icon-dumbbell"></use>
      </svg>
    </div>
    <h3 id="timerValue">110 min</h3>
    <p>Daily norm of sports</p>
  </div>
  <div class="favor-img-wrap">
    <picture>
      <source
        media="(min-width: 1440px)"
        data-desktop-src=""
        data-desktop-src-2x=""
      />
      <source
        media="(min-width: 768px)"
        data-tablet-src=""
        data-tablet-src-2x=""
      />
      <source
        data-mobile-src=""
        data-mobile-src-2x=""
      />
      <img
        src=""
        alt="Women sportswear working-out outdoor"
      />
    </picture>
  </div>
</div>
