<div class="favor-quote-wrap" data-quote>
  <div class="favor-quote-icon">
    <svg width="20" height="20">
      <use href="./img/sprite.svg#icon-running-stick"></use>
    </svg>
  </div>
  <div class="favor-quote-info">
    <div class="favor-quote-title">
      <h3>Quote of the day</h3>
      <svg width="20" height="20">
        <use href="./img/sprite.svg#icon-inverted-commas"></use>
      </svg>
    </div>
    <p class="quote-text" data-role="quote-text"></p>
    <h4 class="quote-author" data-role="quote-author"></h4>

  </div>
</div>
