<section class="container section exercises" data-exercises-section>
  <div class="exercises-header">
    <h2 class="exercises-title" data-exercises-title-text>
      Exercises
      <span class="exercises-slash hidden" data-exercises-slash>/</span>
      <span
        class="exercises-link hidden"
        data-exercises-selected-category
      ></span>
    </h2>
    <div class="exercises-filters">
      <div class="exercises-search-form hidden" data-exercises-search>
        <load src="/partials/components/search-form.html" />
      </div>
      <ul class="exercises-categories" data-exercises-categories></ul>
    </div>
  </div>

  <div class="exercises-content">
    <div class="exercises-main">
      <ul class="exercises-list" data-exercises-list></ul>
      <nav
        class="pagination hidden"
        data-exercises-pagination
        aria-label="Exercises pagination"
      ></nav>
      <load
        src="/partials/components/exercises-workout-item-template.html"
        template-attr="data-exercises-workout-item-template"
        item-class="exercises-workout-item"
        badge-action="/partials/components/workout-rating.html"
      />
    </div>
    <div class="quote-container">
      <load src="/partials/components/quote.html" />
      <div class="favor-quote-daily-block">
        <div class="favor-img-wrap">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset=""
              data-desktop-src
            />
            <source
              media="(min-width: 768px)"
              srcset=""
              data-tablet-src
            />
            <source
              srcset=""
              data-mobile-src
            />
            <img
              src=""
              alt="Women sportswear working-out outdoor"
            />
          </picture>
        </div>
      </div>
      <load
        src="/partials/components/favor-info.html"
        extra-class="favorites"
        img-prefix="favorites"
      />
    </div>

  </div>
</section>
