<section  class="container">
  <h2 class="favor-title">Favorites</h2>
  <div class="favor-container">

    <div class="quote-container">
      <div class="quote-day-container">
        <load src="/partials/components/quote.html" />
      </div>
      <div class="favor-quote-daily-block">
        <div class="favor-img-wrap">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset=""
              data-desktop-src
            />
            <source
              media="(min-width: 768px)"
              srcset=""
              data-tablet-src
            />
            <source
              srcset=""
              data-mobile-src
            />
            <img
              src=""
              alt="Women sportswear working-out outdoor"
            />
          </picture>
        </div>
      </div>
      <load
        src="/partials/components/favor-info.html"
        extra-class="favorites"
        img-prefix="favorites"
      />
    </div>

    <div class="favor-exercises-wrap" data-favorites>
      <div class="favor-exercises">
        <ul class="favor-exercises-list"></ul>
      </div>

      <nav
        class="pagination hidden"
        data-favorites-pagination
        aria-label="Favorites pagination"
      ></nav>

      <load
        src="/partials/components/exercises-workout-item-template.html"
        template-attr="data-favorites-card-template"
        item-class="favor-exercises-item"
        badge-action="/partials/components/workout-btn-delete.html"
      />
    </div>
  </div>
  </div>
</section>
